<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="flex flex-wrap flex-row justify-center">
        <div class="card  flex flex-col items-center m-4 bg-white p-6 shadow-md rounded-lg hover:scale-125 animacion card-seguridad">
            <img class="h-32 w-32" src="images/icono1.svg">  
            <h2 class="card-titulo mt-4 text-2xl font-bold">Seguridad</h2>
            <p class="card-text mt-4 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur officiis est id quod dolores recusandae excepturi eius laboriosam!</p>
        </div>
        <div class="card flex flex-col items-center m-4 bg-white p-6 shadow-md rounded-lg hover:scale-105 animacion card-confianza">
            <img class="h-32 w-32" src="images/icono2.svg">
            <h2 class="card-titulo mt-4 text-2xl font-bold">Confianza</h2>
            <p class="card-text mt-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisi est, facilisis ac tellus vitae, egestas cursus erat.</p>
        </div>
        <div class="card  flex flex-col items-center m-4 bg-white p-6 shadow-md rounded-lg hover:scale-105 animacion card-calidad">
            <img class="h-32 w-32" src="images/icono1.svg">
            <h2 class="card-titulo mt-4 text-2xl font-bold">Calidad</h2>
            <p class="card-text mt-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
    </div>
</body>
</html>
