
<header class="bg-gray-800 text-white py-6">
    <nav class="flex items-center justify-between px-6">
        <img class="h-10" src="images/logo.svg" alt="logo">
        <ul class="flex space-x-6">
            <li><a href="#" class="hover:underline">Inicio</a></li>
            <li><a href="#" class="hover:underline">Anuncios</a></li>
            <li><a href="#" class="hover:underline">Blog</a></li>
            <li><a href="#" class="hover:underline">Contacto</a></li>
        </ul>
    </nav>
    <h1 class="mt-12 text-4xl md:text-5xl lg:text-6xl text-center">Venta de casas y departamentos exclusivos de lujo</h1>
</header>
